<div class="container">
    <h2>Detalles de la Pregunta</h2>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Pregunta</h5>
        <p class="card-text">{{ pregunta.pregunta }}</p>
      </div>
    </div>
    <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title">Respuesta</h5>
        <p class="card-text">{{ pregunta.respuesta }}</p>
      </div>
    </div>
    <button class="btn btn-primary mt-3" routerLink="/preguntas">Volver</button>
  </div>
  