<div class="container">
    <h2>Detalles de la Asignatura</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Nombre de la Asignatura</h5>
            <p class="card-text">{{ asignatura.nombre }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Siglas de la Asignatura</h5>
            <p class="card-text">{{ asignatura.siglas }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title">Profesor de la Asignatura</h5>
        <p class="card-text">{{ asignatura.profesor }}</p>
      </div>
    </div>
    <button class="btn btn-primary mt-3" routerLink="/asignaturas">Volver</button>
  </div>


  